
body{
     background:silver;
}

.page{
    position:Relative;
    border:solid;
    background:white;
    width:1250px;
    height:850px;
    left: 200px;
    top: 100px;
}

.title{
    position:Relative;
    border:solid;
    width: 700px;
    height: 50px;
    left: 25px;
    top: 25px;
    text-align: center;
}

.info{
  position:relative;
  border:solid;
  background-color: white;
  left:100px;
  top:150px;
  height:600px;
  width:1000px;
  display:block;
}

.box{
  text-align: center;
    position:Relative;
    border:solid;
    width:300px;
    height:300px;
    left:0px;
    top:0px;
    padding: 5;
    margin: 5;
}
.box0{
  text-align: center;
    position:Relative;
    border:solid;
    width:300px;
    height:300px;
    left:0px;
    top:0px;
    padding: 5;
    margin: 5;
}
.box1{
  text-align: center;
    position:Relative;
    border:solid;
    width:300px;
    height:300px;
    left:325px;
    top:-320px;
    padding: 5;
    margin: 5;
}
.box2{
  text-align: center;
    position:Relative;
    border:solid;
    width:300px;
    height:300px;
    left:650px;
    top:-640px;
    padding: 5;
    margin: 5;
}
.profile{
    text-align: center;
    position:Relative;
    border:solid;
    width:300px;
    height:450px;
    left:800px;
    top:-35px;
    padding: 5;
    margin: 5;
}

.image{
    position:Relative;
    border:solid;
    left:25px;
    width:250px;
}

.input{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  top:-50px;
  left:22px;
  margin:3px;
  width:150px;
  height:50px;
}

.edit{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  top:-109px;
  left:200px;
  margin:3px;
  width:150px;
  height:50px;
}

.button{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  left:20px;
  margin:3px;
  width:125px;
  height:50px;
  text-align:center;
  
}
.searchbutton{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  top:10px;
  left:0px;
  margin:3px;
  width:125px;
  height:50px;
  text-align:center;
  
}


.innerbutton{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  left:20px;
  margin:3px;
  width:125px;
  height:50px;
  text-align:center;
  
}

.innerbutton0{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  top:128;
  left:200px;
  margin:3px;
  width:125px;
  height:50px;
  text-align:center;
  
}


.innerbutton1{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  top:56;
  left:50px;
  margin:3px;
  width:125px;
  height:50px;
  text-align:center;
  
}

.innerbutton2{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  top:-16;
  left:350px;
  margin:3px;
  width:125px;
  height:50px;
  text-align:center;
  
}

.innerbutton3{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  top:-53px;
  left:200px;
  margin:3px;
  width:125px;
  height:50px;
  text-align:center;
}

.search{
  position:relative;
  border:solid;
  text-align: center;
  background-color:lightblue;
  left:900px;
  top:0px;
  width:200px;

}

.info0{
  position:relative;
  border:solid;
  background-color: white;
  left:100px;
  top:-559px;
  height:600px;
  width:600px;
  display:none;
}

.info1{
  position:relative;
  border:solid;
  background-color: white;
  left:100px;
  top:-559px;
  height:600px;
  width:600px;
  display:none;
}


.fname{
  position:relative;
  border:solid;
  left:100px;
  top:50px;
  height:100px;
  width:200px;

}

.sname{
  position:relative;
  border:solid;
  left:100px;
  top:50px;
  height:100px;
  width:200px;

}

.details{
  position:relative;
  border:solid;
  left:100px;
  top:50px;
  height:100px;
  width:200px;

}

.money{
  position:relative;
  border:solid;
  left:100px;
  top:50px;
  height:100px;
  width:200px;

}

.copyright_notice{
    position:Relative;
    border:solid;
    left:550px;
    top:0px;
    width:350px;
    align-content: center;
}

 /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  left:11 00px;
  top: -600px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 