<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/inputcss.css">
</head>

<body>
    <div class="page">
        
        <div class="title">
            <p> Please Enter Data </p>
        </div>
        

        <div class="profile">

            <h1>{{.Name}} {{.Surname}} </h1>

            <div class="image">
                <a target="_blank" href={{.Url}}><img border="0" img src="{{.Image}}" height="300" width="250"></a>
            </div>
        </div>
        

        <div class= "info">

            <form method ='POST'>
               
                <div>
                    <ol>
                        <ul>
                            <div>
                                <label for="firstname">Name</label>
                            </div>
                            <input id="firstname" type="text" name="firstname" value="" />
                        </ul>
    
                        <ul>
                            <div>
                                <label for="surnamename">Surname</label>
                            </div>
                            <input id="surnamename" type="text" name="surnamename" value="" />
                        </ul>
    
                        <ul>
                            <div>
                                <label for="search">Information</label>
                            </div>
                            <input id="info" type="text" name="information" value="" />
                        </ul>
    
                        <ul>
                            <div>
                                <label for="search">Identity Number</label>
                            </div>
                            <input id="id" type="text" name="id" value="" />
                        </ul>
                    </ol>    
                </div>
                        <div>
                            <input type="submit" value="Press Me">
                        </div>
            </form>
                
        </div>
       

        <div class="copyright_notice">
            <p>Copyright &copy; <a target="_blank" href="">Profiler</a>. All Rights Reserved</p>
        </div>

</body>

</html>