<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/phonebook.css">
    
</head>

<body>

<!-- <img img src= "/static/images/got.jpg" height="800" width="800"> -->

    <div class="page">
        <div class="title">
            <p>Dub</p>
        </div>

        <div>
            <form method='get'>
                <div>
                    <button class="innerbutton0" type="button" onclick="button0()" value="menu">Main Menu</button>
                </div>
            </form>
        </div>
        
        <script>
            function button0() {
                window.location = 'index';

            }         
        </script>

        <div>
            <form method='get'>
                <div>
                    <button class="innerbutton1" type="button" onclick="button1()" value="Edit">Edit Input</button>
                </div>
            </form>
        </div>
        
        <script>
            function button1() {
                window.location = 'input';

            }         
        </script>

        <!-- Search user input -->
        <div class="search">
            <form method='get'>
                <label for="search">Enter Name</label>
                <input id="search" type="text" name="searchbox" value="" />
                <input class="button"type="submit" value="Press Me">
            </form>
        </div>

        <!-- I Dub the Sir -->
        <div class="profile">
            <h1>{{.Name}} {{.Surname}} </h1>

            <div class="image">
                <a target="_blank" ><img  img src="{{.Image1}}" height="300" width="250"></a>
            </div>
        </div>


        <div class="info">

            <p>Just Some More Information. {{.Info}} </p>

          <div class="imageCenter">

            </div>
        </div>

            <div class="copyright_notice">
                <p>Copyright &copy; Author <a target="_blank" href="">Profiler</a>. All Rights Reserved</p>
            </div>

</body>


</html>